@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/background.png");
  background-color: $colorBackground;
  font-family: "Roboto", sans-serif;
  color: $colorText;
}
//------------------------------
// Texts
//------------------------------
h3 {
  font-weight: normal;
}
p,
h4,
label,
input {
  font-family: "Josefin Slab", serif;
}
h4 {
  font-weight: bold;
  font-size: 24px;
}
p {
  font-size: 18px;
  padding: 4px;
}
//------------------------------
// Buttons
//------------------------------
span {
  cursor: pointer;
}
.main-button {
  background-color: $colorPurple;
  padding: 8px 24px 8px 24px;
  color: $colorWhite;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accent-button {
  background-color: transparent;
  padding: 8px 24px 8px 24px;
  color: $colorPurple;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
//------------------------------
// Cards
//------------------------------
.general-card {
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgba($color: #000000, $alpha: 0.1);
  background-color: $colorWhite;
  padding: 16px;
}
.api-card {
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgba($color: #000000, $alpha: 0.1);
  background-color: $colorWhite;
  padding: 16px;
  cursor: pointer;
  max-height: 160px;

  p {
    max-height: 38px;
    overflow: hidden;
  }
}
//------------------------------
// Inputs
//------------------------------
.input-contanier {
  margin: 16px 0;
  label {
    font-weight: bold;
    font-size: 14px;
  }
  .container {
    border: 1px solid $colorGreyDark;
    border-radius: 5px;
    width: 100%;
  }
  input {
    width: 90%;
    margin: 8px;
    font-size: 16px;
    border: none;
    color: $colorText;
  }
  textarea {
    width: 98%;
    margin: 8px;
    font-size: 16px;
    border: none;
    color: $colorText;
    font-family: "Josefin Slab", serif;
  }
  select {
    width: 98%;
    margin: 8px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: $colorText;
    font-family: "Josefin Slab", serif;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
