$colorPurple: #7974F0;
$colorPurpleDark: #5957E1;
$colorOrange: #F59275;
$colorPink: #F8467A;
$colorWhite: #FFFFFF;
$colorText: #3D3E42;
$colorBackground: #F2F3F7;
$colorGrey: #E4E7F1;
$colorGreyDark: #D4D7E0;
$colorGreyLigth: #F6F7F5;